<h1>Hello</h1>
<p>This is the Tiffin Entry page.</p>
<%= link_to 'Create Tiffin', new_tiffin_path, class: 'btn btn-primary' %>

<%= link_to 'Back to Login Success', login_success_path, class: 'btn btn-secondary' %>
